<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/color-defaults.min.css">
    <link rel="stylesheet" href="/assets/css/swatch-blue-white.css">
    <link rel="stylesheet" href="/assets/css/swatch-white-blue.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/fonts.min.css" media="screen">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42913540-2', 'auto');
        ga('send', 'pageview');
    </script>
    {% raw %}
    <script id="search_suggestion_template" type="text/template">
        <div class="autocomplete-wrapper">
            {{#_highlightResult.h1}}
            <div class="h1">
                {{{ _highlightResult.h1.value }}}
            </div>
            {{/_highlightResult.h1}}

            <div class="sub-section">
                {{#_highlightResult.h2}}
                <div class="h2">
                    <span class="hash">#</span> {{{ _highlightResult.h2.value }}}
                </div>
                {{/_highlightResult.h2}}

                {{#_highlightResult.h3}}
                <div class="h3">
                    > {{{ _highlightResult.h3.value }}}
                </div>
                {{/_highlightResult.h3}}

                {{#_highlightResult.h4}}
                <div class="h4">
                    > {{{ _highlightResult.h4.value }}}
                </div>
                {{/_highlightResult.h4}}
            </div>

            {{#_highlightResult.content}}
            <div class="content">
                {{{ _highlightResult.content.value }}}
            </div>
            {{/_highlightResult.content}}
        </div>
    </script>
    <script id="search_empty_template" type="text/template">
        <div class="autocomplete-wrapper empty">
            <div class="h2">We didn't find any result for "{{query}}". Sorry!</div>
        </div>
    </script>
    <script id="search_footer_template" type="text/template">
        <div class="footer">
            <a target="_blank" href="https://www.algolia.com/">
                {% endraw %}
                <img width="50" src="/assets/images/algolia.png">
                {% raw %}
                <div class="powered">powered by</div>
                <div style="clear: both"></div>
            </a>
        </div>
    </script>
    {% endraw %}
</head>
<body>
    <div id="sidenav" class="sidenav">
        <div class="brand">
            <a href="/">QuorraJS</a>
        </div>
        <ul class="side-main-nav">
            <li><a data-scroll data-options="easing: easeOutQuart"
                   href="https://medium.com/@quorrajs" target="_blank">Blog</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Community
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="https://github.com/quorrajs" target="_blank">Github</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://quorrajs.slack.com" target="_blank">Slack</a></li>
                    <li><a href="https://gitter.im/quorrajs/quorrajs" target="_blank">Gitter</a></li>
                    <li><a href="https://twitter.com/quorrajs" target="_blank">Twitter</a></li>
                </ul>
            </li>
        </ul>
        {% if menu is defined %}
            <div class="side-doc-nav">
                <h3>Documentation</h3>
                {% for section in menu.sections %}
                    <div class="category">
                        <h3>{{ section.name }}</h3>
                        <ul>
                            {% for itemId, item in section.items %}
                                <li class="{{ itemId == currentMenu ? 'active' }}">
                                    <a href="{{ item.absoluteUrl|default(docBaseUrl ~ "/" ~ currentVersion ~ '/' ~ item.relativeUrl) }}">
                                        {{ item.text|raw }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div id="main-content">
        <span id="overlay"></span>
        <header id="masthead" class="navbar-small navbar swatch-blue-white" role="banner">
            <div class="container">
                <nav class="main">
                    <a href="/index.html" class="navbar-brand nav-block">
                        <img src="/assets/icons/logo-icon.png" alt="QuorraJS">
                        <span>QuorraJS</span>
                    </a>

                    <div id="search" class="nav-block">
                        <div class="search">
                            <input type="text" name="search" class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <ul class="main-nav nav">
                        <li><a data-scroll data-options="easing: easeOutQuart"
                               href="/docs/1.0.0/getting-started/installation.html">Documentation</a></li>
                        <li><a data-scroll data-options="easing: easeOutQuart"
                               href="https://medium.com/@quorrajs" target="_blank">Blog</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Community
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="https://github.com/quorrajs" target="_blank">Github</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="https://quorrajs.slack.com" target="_blank">Slack</a></li>
                                <li><a href="https://gitter.im/quorrajs/quorrajs" target="_blank">Gitter</a></li>
                                <li><a href="https://twitter.com/quorrajs" target="_blank">Twitter</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="switcher">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" aria-haspopup="true"
                                    data-toggle="dropdown">
                                {{ currentVersion | capitalize }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for version in versions %}
                                    <li>
                                        <a href="{{ docBaseUrl ~ '/' ~ version ~ '/' }}{{ currentFile|slice(0, -2) }}html">{{ version | capitalize }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </nav>
            </div>
        </header>
        <div id="content" role="main">
            <section class="section documentation swatch-white-blue">
                <div class="container">
                    <div class="row">
                        {% if menu is defined %}
                            <div class="col-md-3 sidebar">
                                {% for section in menu.sections %}
                                    <div class="sidebar-widget widget_categories">
                                        <h3 class="sidebar-header">{{ section.name }}</h3>
                                        <ul>
                                            {% for itemId, item in section.items %}
                                                <li class="{{ itemId == currentMenu ? 'active' }}">
                                                    <a href="{{ item.absoluteUrl|default(docBaseUrl ~ "/" ~ currentVersion ~ '/' ~ item.relativeUrl) }}">
                                                        {{ item.text|raw }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="col-md-9">
                            <article class="post">
                                <section class="section swatch-white-blue">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 documentation">
                                                {{ content|raw }}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer id="footer" role="contentinfo">
            <section class="section swatch-blue-white no-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Connect with us</h3>
                            <div id="swatch_social-2" class="sidebar-widget  widget_swatch_social no-margin">
                                <ul class="unstyled inline small-screen-center social-icons social-background social-small">
                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/quorrajs">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://twitter.com/quorrajs">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://github.com/quorrajs">
                                            <i class="fa fa-github-square"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="text-4" class="sidebar-widget widget_text bottom-margin-10">
                                <div class="textwidget">QuorraJS 2016 ALL RIGHTS RESERVED
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        <a class="go-top hex-alt" href="javascript:void(0)">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <script src="/assets/js/packages.min.js"></script>
    <script src="/assets/js/theme.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/algoliasearch.min.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/Hogan.js"></script>
    <script src="/assets/js/quorra.js"></script>
    {#<script>console.log({{ _context | json_encode | raw }});</script>#}
</body>
</html>

